*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Moderustic", sans-serif;
}

.moderustic{
  font-family: "Moderustic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#cantAtenciones{
    width: 50%;
}
hr{
    height: 5px;
    background-color:#000;
}